.navbar {
    width: 1530px;
    margin-left: 0px;
    background-color: #f5e059;
  }
  
  .navbar ul {
    list-style-type: none;
    padding: 0;
  }
  
  .navbar ul li {
    padding: 10px;
  }
  
  .navbar ul li a {
    text-decoration: none;
    color: #333;
  }
  
  .navbar ul li a:hover {
    color: #000;
  }
  .popup {
    position: fixed;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #ffffff;
    padding: 20px;
    border: 1px solid #ccc;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  }
  .popup-large {
    width: 750px; 
    height: 410px; 
  }
  .popup form input,
.popup form textarea {
  width: 100%; 
  height: 60%;
  padding: 10px; 
}
.btn {
  display: block;
  width: 100%;
  border: none;
  background-color: #edd013;
  padding: 14px 28px;
  font-size: 14px;
  cursor: pointer;
  text-align: center;
}
.btn-add {
  background-color: #f57c26;

}



