<html>

<head>
  <title></title>
  <link rel="stylesheet" type="text/css" href="navbar.component.css">
</head>

<body>
  <nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
      <img src="assets/images/logo.PNG" width="130" height="55">

      <div class="search-bar">

        <input type="text" placeholder="Search...">

        <button>Search</button>
      </div>
      <form class="d-flex" role="search">
        <button (click)="openPopup()" class="btn"  >Add Tool </button>
      </form>
    </div>
  </nav>


  <div *ngIf="isOpen" class="popup popup-large"  >
    <button type="close" class="btn-close" (click)="closePopup()"></button>
    <h4>Add Tool Details</h4>
    <form (ngSubmit)="readValue()" #myForm="ngForm" >
      <div class="container">
        <div class="row">
          <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
            <div class="row g-3">
              <table>
                <tr>
                  <td>
                    <div class="col col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6 col-xxl-6" >
                      <label for="name" class="form-label">Name:</label>
                      <input type="text" id="name" name="name" [(ngModel)]="name" placeholder="Enter Tool name"
                        class="form-control" style="height: 60px;width: 340px;" required (ngModelChange)="onNameChange()">
                      <!-- <div class="form-validation" *ngIf="emailRequired">Email is required.</div> -->
                      <!-- <div class="valid-feedback"></div> -->
                      <!-- <div> touched : {{nameControl.touched}} </div> -->
                      <!-- <div class="invalid-feedback">Please fill out this field.</div> -->
                      <div *ngIf="nameInvalid">

                        <div class="form-validation" *ngIf="nameRequired">Name is required.</div>
                         </div> 
                    </div>
                  </td>
                  <td>
                    <div class="col col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6 col-xxl-6">
                      <label for="category" class="form-label">Category:</label>
                      <select id="category" name="category" [(ngModel)]="category" class="form-control"
                        style="height: 60px;width: 340px;" required (ngModelChange)="onCategoryChange()">
                        <option selected>Power Tool</option>
                        <option>Consumable</option>
                        <option>Power Tool Set</option>
                      </select>
                      <!-- <div class="valid-feedback"></div>
                      <div class="invalid-feedback">Please fill out this field.</div> -->
                      <div *ngIf="categoryInvalid">

                        <div class="form-validation" *ngIf="categoryRequired">Category is required.</div>
                         </div> 
                    </div>
                  </td>
                </tr>
              </table>
              <div class="col col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6 col-xxl-6">
                <label for="quantity" class="form-label">Quantity:</label>
                <input type="text" id="quantity" name="quantity" [(ngModel)]="quantity" placeholder="Enter Quantity"
                  class="form-control" required (ngModelChange)="onQuantityChange()">
                <!-- <div class="valid-feedback"></div>
                <div class="invalid-feedback">Please fill out this field.</div> -->
                <div *ngIf="quantityInvalid">

                  <div class="form-validation" *ngIf="quantityRequired">Quantity is required.</div>
                   </div> 
              </div>

              <div class="col col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6 col-xxl-6">
                <label for="status" class="form-label">Status:</label>
                <input type="text" id="status" name="status" [(ngModel)]="status" placeholder="Enter Status"
                  class="form-control" required (ngModelChange)="onStatusChange()">
                <!-- <div class="valid-feedback"></div>
                <div class="invalid-feedback">Please fill out this field.</div> -->
                <div *ngIf="statusInvalid">

                  <div class="form-validation" *ngIf="statusRequired">Status is required.</div>
                   </div> 
              </div>

              <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
                <label for="description" class="form-label">Description:</label>
                <textarea id="description" name="description" [(ngModel)]="description" placeholder="Enter Description"
                  class="form-control" required (ngModelChange)="onDescriptionChange()"></textarea>
                <!-- <div class="valid-feedback"></div>
                <div class="invalid-feedback">Please fill out this field.</div> -->
                <div *ngIf="descriptionInvalid">

                  <div class="form-validation" *ngIf="descriptionRequired">Description is required.</div>
                   </div> 
              </div>

              <div class="col col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6 col-xxl-6">
                <button type="submit" [disabled]="!myForm.form.valid" class="btn">Submit</button>
              </div>
              <div class="col col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6 col-xxl-6">
                <button type="reset" class="btn-clear">Clear</button>
              </div>
            </div>

          </div>
        </div>
      </div>
    </form>

  </div>
  <div class="content">
  </div>
</body>

</html>